@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-surface text-brand-dark font-sans antialiased;
  }

  body {
    min-height: 100vh;
    overflow-x: clip;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-black/10 rounded-full;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

@layer components {
  .card {
    @apply bg-surface-card rounded-2xl;
  }
}
